/* vim: set foldmethod=marker:expandtab:shiftwidth=4:tabstop=4:textwidth=100:*/

/*
 *
 *    ~/.mozilla/firefox/<profile>/chrome/userChrome.css
 *
 */

@import url("context_menu.css");

/* {{{ Accent Color */

:root {

    --menuitem-hover-background-color: #7408c499 !important; }

menupopup :is(menu, menuitem,)[_moz-menuactive="true"]:not([disabled="true"]) {
    appearance: none !important;
     background-color: var(--menuitem-hover-background-color) !important;
} 


/* }}} */

/* {{{ Do not render tab bar */
/* The entire tab bar itself */
#TabsToolbar { display: none !important; }

/* Bounding boxes that envelop the native tab bar */
.titlebar-spacer { display: none !important; }

/* Located right of the native tab bar */
#alltabs-button { display: none !important; }

/* Minimise, Maximise and Close buttons of the native tab bar */
hbox.titlebar-buttonbox-container:nth-child(6) { display: none !important; }
/* }}} */

/* {{{ Shrink Sidebar Header */
#sidebar-header {
    font-size: 1.2em !important;
    padding: 2px 6px 2px 3px !important;
}
#sidebar-header #sidebar-close {
    padding: 3px !important;
}
#sidebar-header #sidebar-close .toolbarbutton-icon {
    width:  14px !important;
    height: 14px !important;
    opacity: 0.6 !important;
}
/* }}} */

/* {{{ Border Radius */
:root {
    --chewy-border-radius: 3px;

    --tab-border-radius:           var(--chewy-border-radius) !important;
    --toolbarbutton-border-radius: var(--chewy-border-radius) !important;
    --arrowpanel-border-radius:    var(--chewy-border-radius) !important;
    --border-radius-circle:        var(--chewy-border-radius) !important;
    --border-radius-small:         var(--chewy-border-radius) !important;
    --border-radius-medium:        var(--chewy-border-radius) !important;
}
/* }}} */

/* {{{ Attempts to sharpen window corners */
/* {{{ Attempt 1 */
/*    * {
 *        -webkit-border-radius: 0px;
 *        -ms-border-radius: 0px;
 *        -o-border-radius: 0px;
 *        -moz-border-radius: 0px;
 *        border-radius: 0px;
 *    }
 */
/* }}} */

/* {{{ Attempt 2 */
/*    #main-window {
 *        border-radius: 0px !important;
 *    }
*/
/* }}} */
/* }}} */`

/* {{{ Context Menu */

/* {{{ Hide back, forward, refresh and bookmark icon topbar */
html#main-window
 body popupset#mainPopupSet 
 menupopup#contentAreaContextMenu 
 menugroup#context-navigation { display: none !important; }
menugroup#context-navigation { display: none !important; }
#context-navigation { display: none !important; }

#context-sep-navigation {
    display: none !important;
    &::before{ display: none !important; }
}
/* }}} */

/* {{{ Link */
menuitem#context-openlink[label="Open Link in New Window"],
menuitem#context-openlinkprivate[label="Open Link in New Private Window"],
menuitem#context-previewlink[label="Preview Link"],
menuseparator#context-sep-open { display: none !important; }

menuitem#context-bookmarklink[label="Bookmark Link…"],
menuitem#context-savepage[label="Save Page As…"],
menuitem#contect-copyemail[label="Copy Email Address"],
menuitem#contect-copyphone[label="Copy Phone Number"],
menuitem#context-stripOnShareLink[label="Copy Clean Link"],
/* menu#context-sendpagetodevice[label="Send Page to Device"], */
/* menu#context-sendlinktodevice[label="Send Link to Device"], */
menuseparator#context-sep-sharing { display: none !important; }
/* }}} */

menupopup, panel {
    --panel-background: #03030b !important;
    --panel-color:      #e8e0ff !important;
    --panel-border-radius: 4px !important;
    --panel-padding-block: 6px !important;
    --panel-border-color:    #7408c444 !important;
    --panel-separator-color: #7408c466 !important;
}

menuitem#context-undo,
menuitem#context-redo,
menuseparator#context-sep-redo { display: none !important; }

menuitem#context-cut[label="Cut"],
menuitem#context-copy[label="Copy"],
menuitem#context-paste[label="Paste"],
menuitem#context-selectall[label="Select All"] { /* display: none !important; */ }
menuitem#context-paste-no-formatting[label="Paste Without Formatting"] { display: none !important; }
menuitem#context-delete[label="Delete"] { display: none !important; }
menuitem#context-print-selection[label="Print Selection…"] { display: none !important; }
menuseparator#context-sep-selectall { display: none !important; }

menuitem#context-copy-clean-link-to-highlight[label="Copy Clean Link to Highlight"],
menuitem#context-take-screenshot[label="Take Screenshot"],
menuseparator#context-sep-screenshots { display: none !important; }

menuitem#context-sendimage[label="Email Image…"],
menuitem#context-sendaudio[label="Email Audio…"],
menuitem#context-sendvideo[label="Email Video…"] { display: none !important; }
menuitem#context-viewimageinfo[label="View Image Info"],
menuitem#context-viewimagedesc[label="View Description"] { display: none !important; }

/* menuseparator#context-sep-setbackground { display: none !important; } */
/* Follows "Copy Link to Highlight */

/* menu#context-ask-chat[label="Ask ChatGPT"] { display: none !important; } */

menuseparator#frame-sep { display: none !important; }
/* Follows "Search <engine> for..." */

menuitem#context-translate-selection[label="Translate Link Text to English"],
menuitem#context-translate-selection[label="Translate Selection to English"] { display: none !important; }

menuitem#spell-check-enabled[label="Check Spelling"],
menu#spell-dictionaries[label="Languages"] {  display: none !important; }

/* menuitem#context-inspect[label="Inspect"], */
/* menuitem#context-viewpartialsource-selection[label="View Selection Source"], */
menuitem#context-viewsource[label="View Page Source"],
menuitem#context-inspect-a11y[label="Inspect Accessibility Properties"] { display: none; }

/* menuseparator#context-media-eme-separator { display: none; &::before{ display: none !important; } } */
/* Separates extensions from native */

/* }}} */

/* {{{ URL and Toolbar */

html#main-window {
    --lwt-additional-images: url(moz-extension\:\/\/5058ed78-ca0a-4d30-bd19-be61d454e4a6\/images\/0\.png);
    --lwt-accent-color: #03030b !important;
    --lwt-text-color: rgba(255, 255, 255);
    --arrowpanel-background: #03030b !important;
    --arrowpanel-color: #e8e0ff !important;
    --toolbar-color: #e8e0ff !important;
    --toolbar-bgcolor: #03030b44 !important;
    --toolbar-field-color: #e8e0ff !important;
    --toolbar-field-background-color: #03030b99 !important;
    --toolbar-field-focus-color: #e8e0ff !important;
    --toolbar-field-focus-background-color: #03030baa !important;
    --toolbar-field-border-color: rgba(0, 0, 0, 0);
    --lwt-background-alignment: center top;
    --lwt-background-tiling: repeat;
    --avatar-image-url: url("https://firefoxusercontent.com/3ecf39e2847cd0e16d6172e444df4583");
}

hbox#reader-mode-button.urlbar-page-action { display: none !important; }

:root {
    --browser-stack-z-index-devtools-splitter: 1;
    --browser-stack-z-index-dialog-stack: 2;
    --browser-stack-z-index-rdm-toolbar: 3;
    --browser-area-z-index-toolbox: 0;
    --browser-area-z-index-sidebar: 1;
    --browser-area-z-index-tabbox: 2;
    --browser-area-z-index-sidebar-expand-on-hover: 4;
    --browser-area-z-index-sidebar-splitter: 3;
    --browser-area-z-index-toolbox-while-animating: 4;
    --toolbarbutton-border-radius: 4px;
    --identity-box-margin-inline: 4px;
    --lwt-additional-images: none;
    --lwt-background-alignment: right top;
    --lwt-background-tiling: no-repeat;
    --ext-theme-background-transition: background-color 0.1s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    --inactive-window-transition: 0.2s ease;
    --inactive-titlebar-opacity: 0.6;

    --urlbar-min-height: max(32px, 1.4em);
    --urlbar-icon-padding: calc((var(--urlbar-min-height) - 2px - 2px - 16px ) / 2);
    --urlbar-icon-border-radius: calc(var(--toolbarbutton-border-radius) - 1px);
    --urlbar-searchmodeswitcher-inline-padding: 6px;
    --urlbar-searchmodeswitcher-margin-inline-end: 0.45em;

    --urlbar-box-bgcolor: #03030b33 !important; /* Search dropdown menu button */
    --urlbarView-action-color: light-dark(rgb(91, 91, 102), rgb(191, 191, 201));
    --urlbarView-highlight-background: #7408cf55 !important; /* Suggestion dropdown select */
    --urlbarView-highlight-color: white;

    --sidebar-foreground-color: #e8e0ff !important;
    --sidebar-background-color: #040512 !important;
    --sidebar-border-color: #03030b !important;
}

#sidebar-switcher-target {
    color: #e8e0ff !important;
}
.sidebar-splitter {
    background: #060616 !important;
    border-style: solid !important;
    border-color: #090a24 !important;
}

/* Bookmark, includes new bookmark popup */
/* hbox#star-button-box.urlbar-page-action { display: none !important; } */

/* }}} */
