# vim: expandtab:shiftwidth=4

# 
# 
# ~/.config/systemd/user/cloudflare-ddns.service
# 
# 

[Unit]
Description=Update Cloudflare A record with current public IP

[Service]
Type=oneshot
EnvironmentFile=%h/.config/cloudflare-ddns/cgxx_dev_dnsrec_top_a.env
LoadCredential=token:%h/.config/cloudflare-ddns/cgxx_dev_token_dnsedit
ExecStart=%h/.local/bin/cloudflare-ddns-update
