# vim: expandtab:shiftwidth=4

# 
# 
# ~/.config/systemd/user/cloudflare-ddns.timer
# 
# 

[Unit]
Description=Run cloudflare-ddns periodically

[Timer]
OnBootSec=2min
OnUnitActiveSec=15min
Persistent=true

[Install]
WantedBy=timers.target
