# vim: expandtab:shiftwidth=4

# 
# 
# ~chewygumxx/dotfiles.git
# ::: :/dot_config/systemd/user/gpg-systemd-socket-override.service
# 
# 

#
# Adaptive GnuPG socket resolution for custom GNUPGHOME. Resolves hashed socket
# filepaths before socket initialisation. GNUPGHOME must be declared in advance,
# most conventionally from: ~/.config/environment.d/*.conf
#
# Must be enabled to preceed gpg
# Dependent on absolute filepath to executable: gpg-systemd-socket-override
#

[Unit]
Description=Script to generate GnuPG socket overrides
ConditionEnvironment=GNUPGHOME
DefaultDependencies=no
Before=sockets.target dirmngr.socket keyboxd.socket gpg-agent.socket gpg-agent-ssh.socket gpg-agent-extra.socket gpg-agent-browser.socket
Wants=dirmngr.socket keyboxd.socket gpg-agent.socket gpg-agent-ssh.socket gpg-agent-extra.socket gpg-agent-browser.socket

[Service]
Type=oneshot
Environment=SYSTEMD_UNIT=%n
ExecStart=%h/.local/bin/gpg-systemd-socket-override
RemainAfterExit=yes

[Install]
WantedBy=sockets.target
