# vim: nofoldenable

#
#
# ~/.config/systemd/user/hyprland-post.target
#
#

#
# Started by hyprland, see ~/.config/hypr/autostart.lua:14
#

[Unit]
Description=Services initialised after hyprland startup
