# vim: nofoldenable

#
#
# ~/.config/systemd/user/hyprpaper.service
#
#

[Unit]
Description="Wallpaper: Hyprpaper"

[Service]
ExecStart="/usr/bin/hyprpaper"

[Install]
WantedBy=hyprland-post.target
