; vim: expandtab:shiftwidth=4

; 
; 
; ~/.config/systemd/user/inotify-create-net-firefox.service
; 
; 

[Unit]
Description=Watches for new files under ~/net/firefox/ and appends them to a given file

[Service]
ExecStart=zsh -c "inotifywait --monitor --event create --format \"$HOME/net/firefox/%%f\" $HOME/net/firefox >>| $XDG_CACHE_HOME/inotify-net-firefox.log.txt"

