# vim: nofoldenable

#
#
# ~/.config/systemd/user/monerod.service
#
#

[Unit]
Description=Monero Blockchain Synchronisation

[Service]
Type=forking

# Specifiers (user)
# %E ~ $XDG_CONFIG_HOME			= ~/.config
# %N ~ Unit name, type removed	= monerod
# %t ~ $XDG_RUNTIME_DIR			= /run/user/1000
ExecStart=/usr/bin/%N --detach --config-file %E/%N.conf --pidfile %t/%N/%N.pid
PIDFile=%t/%N/%N.pid

Restart=on-failure
RestartSec=30

# Implicitly preceded with $XDG_RUNTIME_DIR
RuntimeDirectory=%N

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
