# vim:set expandtab shiftwidth=4 filetype=gitattributes:
# SPDX-License-Identifier: GPL-3.0-only

#
#
# ~chewygumxx/dotfiles.git
# ::: :/.gitattributes
#
#

* text=auto eof=lf

# ----------------------------
# Sync Header Metadata: Types
# ----------------------------

/LICENSE            -sync-header-metadata
/.meteor.json       -sync-header-metadata
/.chezmoiroot       -sync-header-metadata
/.chezmoiversion    -sync-header-metadata


# ----------------------------
# Sync Header Metadata: Types
# ----------------------------

symlink_*   -sync-header-metadata
.keep       -sync-header-metadata
*.json      -sync-header-metadata

# Image
*.jpeg      -sync-header-metadata
*.jpg       -sync-header-metadata
*.png       -sync-header-metadata
*.bmp       -sync-header-metadata
*.tiff      -sync-header-metadata
*.gif       -sync-header-metadata

# Video
*.webm      -sync-header-metadata
*.mp4       -sync-header-metadata

# Audio
*.mp3       -sync-header-metadata
*.ogg       -sync-header-metadata
*.flac      -sync-header-metadata

# Font
*.ttf       -sync-header-metadata
*.otf       -sync-header-metadata
