# vim:set expandtab shiftwidth=4 filetype=toml:
# SPDX-License-Identifier: GPL-3.0-only

#
#
# ~chewygumxx/dotfiles.git
# ::: :/home/.chezmoi.toml.tmpl
#
#

#
# Chezmoi tracked self-configuration
# This file updates the local chezmoi config file upon `chezmoi init` or when
# `--init` is provided as a valid `chezmoi` option ie. `chezmoi update --init`.
#


progress        = true  # Display progress bars
encryption      = "gpg"
sourceDir       = {{ joinPath
    .chezmoi.homeDir
    "dev"
    "dotfiles"
| quote }}
cacheDir        = {{ joinPath
    (or (env "XDG_CACHE_HOME") (joinPath .chezmoi.home ".local" "cache"))
    "chezmoi"
| quote }}
persistentState = {{ joinPath
    (or (env "XDG_STATE_HOME") (joinPath .chezmoi.home ".local" "state"))
    "chezmoi"
    "chezmoistate.boltdb"
| quote }}

{{- if (eq .chezmoi.os "android") }}
umask = 0o22
{{ end }}

[edit]
apply    = true
watch    = true
hardlink = false

[gitHub]
refreshPeriod = "168h"

[diff]
pager = {{ or
    (lookPath "delta")
    (lookPath "diffnav")
    (lookPath "less")
| quote }}

