# vim:set expandtab shiftwidth=4 filetype=toml:
# SPDX-License-Identifier: GPL-3.0-only

#
#
# ~chewygumxx/dotfiles.git
# ::: :/home/.chezmoi.toml.tmpl
#
#

#
# Chezmoi tracked self-configuration
# This file updates the local chezmoi config file upon `chezmoi init` or when
# `--init` is provided as a valid `chezmoi` option ie. `chezmoi update --init`.
#

encryption = "gpg"
sourceDir  = {{ joinPath .chezmoi.homeDir "dev/dotfiles" | quote }}

[edit]
apply    = true
watch    = true
hardlink = false

{{ if lookPath "delta" }}
[diff]
pager = "delta"
{{- end }}


{{- if (eq .chezmoi.os "android") }}
# --------------------
# Chewytele Exclusive
# --------------------

# Ignore Termux file permissions when adding to source state.
umask = 0o22
{{- end }}
