# vim:set expandtab shiftwidth=4 filetype=toml:
# SPDX-License-Identifier: GPL-3.0-only

#
#
# ~chewygumxx/dotfiles.git
# ::: :/home/dot_config/herdr/config.toml.tmpl
#
#

#
# [Masterdoc] Configuration fragments under `./.chezmoitemplates/` are
# inclusively assembled within this file upon `chezmoi apply`.
#
# https://herdr.dev/docs/configuration/
#


onboarding = false # Introduction

{{ template "essential.toml.tmpl" . }}

{{ template "theme.toml.tmpl" . }}
{{ template "ui.toml.tmpl" . }}
{{ template "keys.toml.tmpl" . }}

{{ template "neglected.toml.tmpl" . }}
