# vim:set expandtab shiftwidth=4 ft=ssh_config:
# SPDX-License-Identifier: GPL-3.0-only

#
#
# ~chewygumxx/dotfiles.git
# ::: :/home/private_dot_ssh/config.tmpl
#
#

#
# Templated with chezmoi
#

{{ if eq .chezmoi.os "linux" }}
IdentityAgent "${XDG_RUNTIME_DIR}/ssh-agent-protonpass.socket"
{{- else if eq .chezmoi.os "android" }}
IdentityAgent "${XDG_RUNTIME_DIR}/ssh-agent.socket"
AddKeysToAgent yes
{{- end }}

Host *.github.com github.com
    User           git
{{- if eq .chezmoi.os "android" }}
    IdentitiesOnly yes
    IdentityFile   ~/.ssh/id/chewytele-github
{{- end }}

{{ if eq .chezmoi.os "linux" }}
Host chewytele
    Hostname       192.168.4.22
    Port           8022
{{ else if eq .chezmoi.os "android" }}
Host chewytop
    Hostname       192.168.4.21
    Port           22
    IdentityFile   ~/.ssh/id/chewytele-top
    IdentitiesOnly yes
{{- end }}
