// vim:set expandtab shiftwidth=4 filetype=jsonc:
// SPDX-License-Identifier: GPL-3.0-only

//
//
// ~chewygumxx/dotfiles.git
// ::: :/home/dot_config/waybar/modules/.chezmoiexternals/waybar-weather.jsonc
//
//

{
    "waybar-weather": {
        "type": "file",
        "url": {{ gitHubLatestReleaseAssetURL "chewygumxx/waybar-weather" "waybar-weather" | quote }},
        "executable": true,
    }
}
