# vim: expandtab:tabstop=4:shiftwidth=4:textwidth=80:
# vim: foldmethod=marker

#
#
# ~/.config/zsh/zshrc
#
#

#  
#  /etc/zshenv contains:
#      export ZDOTDIR="${XDG_CONFIG_HOME:-"$HOME/.config"}/zsh"
#  ~/.config/environment.d/env.conf contains:
#      export ZDOTDIR="${XDG_CONFIG_HOME:-"$HOME/.config"}/zsh"
#
#  Symlinked: $ZDOTDIR/.zshrc -> this
#

# Shell Interactivity Check
[[ -o interactive ]] || return

__rc_source_list=(
    "directory"  # Declares other zsh directories
    "alias"
    "completion"
    "function"
    "history"
    "prompt"
    #"vi-mode"
    
    "util/bat"
    "util/chezmoi"
    "util/eza"
    "util/fzf"
{{- if eq .chezmoi.hostname "chewytop" }}
    "util/gtrash"
    "util/luarocks"
{{- end }}
    "util/zoxide"

    "plugin/fast-syntax-highlighting"
    #"plugin/zsh-autosuggestions"
    #"plugin/zsh-autocomplete"
    "plugin/zsh-completions"
{{- if eq .chezmoi.hostname "chewytop" }}
    "plugin/zsh-vi-mode"
{{- else if eq .chezmoi.destDir "/data/data/com.termux/files/home" }}
    #"plugin/zsh-vi-mode"
{{- end }}
)
for rc_source in $__rc_source_list; do
    source "$ZDOTDIR/rc/${rc_source}.rc.zsh"
done
unset rc_source __rc_source_list ZSH_PLUGIN_DIR

zle_highlight=('paste:none')

# Allow `# comment`. Good for copying and pasting commands from web
setopt interactive_comments 

# Resolve symbolic links to their true physical path when changing
# directories. `cd ..` afterward will not return to the parent directory of
# the original symbolic link. Also infers option 'chase_dots'.
setopt chase_links

#
# *** Post-Startup
#

# Splash
#print-quote

#zprof
