# vim:set expandtab shiftwidth=4 filetype=gitattributes:
# SPDX-License-Identifier: GPL-3.0-only

#
#
# ~chewygumxx/dotfiles.git
# ::: :/home/ref/image/top/wallpaper/.gitattributes
#
#

*.gif   -diff -sync-header-metadata
*.png   -diff -sync-header-metadata
*.jpeg  -diff -sync-header-metadata
*.jpg   -diff -sync-header-metadata
