#!/bin/false
# vim: expandtab:shiftwidth=4

# 
# 
# ~/.config/zsh/rc/directory.rc.zsh
# 
# 

typeset -A zsh_dirs=(
    [data]="$XDG_DATA_HOME/zsh"
    [plugin]="$XDG_DATA_HOME/zsh/plugin"
    [site_func]="$XDG_DATA_HOME/zsh/site-functions"

    [state]="$XDG_STATE_HOME/zsh"

    [cache]="$XDG_CACHE_HOME/zsh"
    [compcache]="$XDG_CACHE_HOME/zsh/compcache"
    [gensource]="$XDG_CACHE_HOME/zsh/gen_source"
)

mkdir -p "${(v)zsh_dirs[@]}"

hash -d zsh="$ZDOTDIR"
hash -d nvim="$XDG_CONFIG_HOME/nvim/lua"
hash -d yazi="$XDG_CONFIG_HOME/yazi"

hash -d cz="$XDG_DATA_HOME/chezmoi"
hash -d cz_zsh="$XDG_DATA_HOME/chezmoi/dot_config/zsh"
hash -d cz_nvim="$XDG_DATA_HOME/chezmoi/dot_config/nvim/lua"
hash -d cz_yazi="$XDG_DATA_HOME/chezmoi/dot_config/yazi"

{{- if eq .chezmoi.hostname "chewytop" }}
hash -d ff="$HOME/net/firefox"
{{- end }}

{{- if eq .chezmoi.destDir "/data/data/com.termux/files/home" }}
hash -d pref="$PREFIX"
hash -d cgxx="/storage/emulated/0/_chewygumxx"
{{- end }}
