#!/bin/false
# vim: expandtab:shiftwidth=4

# 
# 
# ~/.config/zsh/rc/directory.rc.zsh
# 
# 

typeset -A zsh_dirs=(
    [config]="$ZDOTDIR"
    [user_comp]="$ZDOTDIR/comp"
    [user_func]="$ZDOTDIR/func"
    [user_env]="$ZDOTDIR/env"
    [user_rc]="$ZDOTDIR/rc"

    [cache]="$XDG_CACHE_HOME/zsh"
    [cache_comp]="$XDG_CACHE_HOME/zsh/comp"  # For zstyle, not compinit
    [compcache]="$XDG_CACHE_HOME/zsh/compcache"
    [cache_init]="$XDG_CACHE_HOME/zsh/init"  # Generated source files of utils
    [gensource]="$XDG_CACHE_HOME/zsh/gen_source"

    [data]="$XDG_DATA_HOME/zsh"
    [share]="$XDG_DATA_HOME/zsh"
    [share_func]="$XDG_DATA_HOME/zsh/functions"
    [share_comp]="$XDG_DATA_HOME/zsh/completions"
    [share_plug]="$XDG_DATA_HOME/zsh/plugins"
    [plugin]="$XDG_DATA_HOME/zsh/plugins"

    [state]="$XDG_STATE_HOME/zsh"
)

mkdir -p "${(v)zsh_dirs[@]}"

hash -d zsh="$ZDOTDIR"
hash -d nvim="$XDG_CONFIG_HOME/nvim/lua"
hash -d yazi="$XDG_CONFIG_HOME/yazi"

hash -d cz="$XDG_DATA_HOME/chezmoi"
hash -d cz_zsh="$XDG_DATA_HOME/chezmoi/dot_config/zsh"
hash -d cz_nvim="$XDG_DATA_HOME/chezmoi/dot_config/nvim/lua"
hash -d cz_yazi="$XDG_DATA_HOME/chezmoi/dot_config/yazi"

{{- if eq .chezmoi.hostname "chewytop" }}
hash -d ff="$HOME/net/firefox"
{{- end }}

{{- if eq .chezmoi.destDir "/data/data/com.termux/files/home" }}
hash -d pref="$PREFIX"
hash -d cgxx="/storage/emulated/0/_chewygumxx"
{{- end }}
