# vim:set expandtab shiftwidth=4 filetype=systemd:

# 
# 
# ~chewygumxx/dotfiles.git
# ::: :/home/dot_config/systemd/user/firefox.service
# 
# 

[Unit]
Description=Mozilla Firefox

[Service]
ExecStart=/usr/bin/firefox
