# vim:set expandtab shiftwidth=4 filetype=systemd:
# SPDX-License-Identifier: GPL-3.0-only

#
#
# ~chewygumxx/dotfiles.git
# ::: :/home/dot_config/systemd/user/hyprland-post.target
#
#

#
# Started by hyprland, see :/home/dot_config/hypr/autostart.lua
#

[Unit]
Description=Services initialised after hyprland startup
BindsTo=graphical-session.target
Wants=graphical-session-pre.target
After=graphical-session-pre.target
