# vim:set expandtab shiftwidth=4 filetype=systemd:
# SPDX-License-Identifier: GPL-3.0-only

#
#
# ~chewygumxx/dotfiles.git
# ::: :/home/dot_config/systemd/user/hyprpaper.service
#
#

[Unit]
Description="Wallpaper: Hyprpaper"

[Service]
ExecStart="/usr/bin/hyprpaper"

[Install]
WantedBy=hyprland-post.target
