# vim:set expandtab shiftwidth=4 filetype=systemd:
# SPDX-License-Identifier: GPL-3.0-only

#
#
# ~chewygumxx/dotfiles.git
# ::: :/home/dot_config/systemd/user/kdeconnectd.service
#
#

[Unit]
Description=KDE Connect daemon

[Service]
Type=dbus
BusName=org.kde.kdeconnect.daemon
ExecStart=/usr/bin/kdeconnectd
