# vim:set expandtab shiftwidth=4 filetype=systemd:
# SPDX-License-Identifier: GPL-3.0-only

#
#
# ~chewygumxx/dotfiles.git
# ::: :/home/dot_config/systemd/user/monerod.service
#
#

[Unit]
Description=Monero Blockchain Synchronisation

[Service]
Type=forking
ExecStart=/usr/bin/%N --detach --config-file %E/%N.conf --pidfile %t/%N/%N.pid
PIDFile=%t/%N/%N.pid
Restart=on-failure
RestartSec=30
RuntimeDirectory=%N
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
