# vim: expandtab:shiftwidth=4

# 
# 
# ~/.config/systemd/user/ssh-agent.socket
# 
# 

[Unit]
Description=Socket for the OpenSSH key agent
Documentation=man:ssh-agent(1)
ConditionEnvironment=!SSH_AGENT_PID

[Socket]
ListenStream=%t/ssh-agent.socket
RemoveOnStop=yes

[Install]
WantedBy=sockets.target

