# vim:set expandtab shiftwidth=4 filetype=systemd:
# SPDX-License-Identifier: GPL-3.0-only

#
#
# ~chewygumxx/dotfiles.git
# ::: :/home/dot_config/systemd/user/tor-browser.service
#
#

[Unit]
Description=Tor Browser

[Service]
ExecStart=/usr/bin/tor-browser
