# vim: nofoldenable

#
#
# ~/.config/systemd/user/weater-api.service
#
#

[Unit]
Description=Weather API - Periodically sends HTTP GET requests to Weather API services for comprehenive JSON response

[Service]
ExecStart=%E/waybar/modules/weather/weather_json_daemon.sh

[Install]
WantedBy=waybar.service
